
body {
    margin: 0px;
    background:whitesmoke; 
}

.heading {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif; 
    text-shadow: 1px 1px 2px rgb(48, 9, 9);

}

.but {
    position: absolute;
    border: darkblue;
    background-color: lightskyblue;
    opacity: 0.6;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif; 
    cursor: pointer;
    margin: 15px;
    display: inline-block;
}


.subtext-heading {
    margin-right:auto;
    margin-left: auto;
    width: 70%;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif; 
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle { 
    transition: 0.1s;
    color:transparent;
}

.img-text-wrapper:hover .subtitle {
    font-family: 'Oswald', sans-serif;
    color:whitesmoke;
    /* height: 30px;  */
}

a {
    color: inherit;
    text-decoration: none;
}

.img-darken { 
    transition: 1s;
    filter: brightness(10%);
}

.wisdom {
    position: bottom;
    margin: auto;
    top: 50%;
    left: 50%;
}