
body {
    margin: 0px;
    background:whitesmoke; 
}

.heading {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif; 
    text-shadow: 1px 1px 2px rgb(48, 9, 9);
}

.subtext-heading {
    margin-right:auto;
    margin-left: auto;
    width: 70%;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif; 
}

.allthebuttons {
    text-align: center;
}

.but{
    /* position: absolute; */
    border: darkblue;
    background-color: lightskyblue;
    opacity: 0.6;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif; 
    cursor: pointer;
    margin: 15px;
    display: inline-block;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 500px;
    width: 100%;
    min-width: 250px;
    background-size: cover;
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    overflow-y: auto;
}

.img-text-wrapper .subtitle { 
    transition: 0.5s;
    color:transparent;
}

.img-text-wrapper:hover .subtitle {
    font-family: 'Oswald', sans-serif;
    color:whitesmoke;
    /* height: 30px;  */
}

.img-darken { 
    transition: 1s;
    filter: brightness(10%);
}

.history-text {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(35, 35, 83);
    text-align: center;
    position: relative;
    overflow: scroll;
    margin-bottom: 1.5em;
}

.pastchange {
    text-shadow: 1px 1px 2px rgb(48, 9, 9);
    color: whitesmoke;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    position: relative;
    font-weight: 100px;
}

.wordswisdom {
    text-shadow: 1px 1px 2px rgb(48, 9, 9);
}
.wisdom {
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 100px;
    text-align: center;
    position: relative;
}

.mahatma {
    color: rgb(35, 35, 83);
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }

  .angela {
    color:rgb(35, 35, 83);
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }

  .martin {
    color: rgb(35, 35, 83);
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }

  .spotify {
      text-align: left;
  }

  .change {
      background-color: rgb(172, 197, 221);
  }

  .wisdom {
      background-color: rgb(172, 197, 221);
  }

  .twitter {
      position: relative;
      float: right;
  }
  
  .cont {
      text-align: left;
      margin-left: 4em;
      margin-right: 3em;
      margin-bottom: 0.5em;
  }

  .cont > div {
      vertical-align: top;
      display: inline-block;
  }

  .selfcare {
      background-color: rgb(172, 197, 221);
  }
  .self-care {
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 100px;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px 2px rgb(48, 9, 9);
  }

  .listmental {
    color: rgb(35, 35, 83);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0.5em;
  }
  
