body {
    margin: 0px;
    background:whitesmoke; 
}

.heading {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif; 
    text-shadow: 1px 1px 2px rgb(48, 9, 9);

}

.subtext-heading {
    margin-right:auto;
    margin-left: auto;
    width: 70%;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif; 
}

.allthebuttons {
    text-align: center;
}

.but {
    position: absolute;
    border: darkblue;
    background-color: lightskyblue;
    opacity: 0.6;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif; 
    cursor: pointer;
    margin: 15px;
    display: inline-block;
}


.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

.img-text-wrapper .subtitle { 
    transition: 0.1s;
    color:transparent;
}

.img-text-wrapper:hover .subtitle {
    font-family: 'Oswald', sans-serif;
    color:whitesmoke;
}

.img-darken { 
    transition: 1s;
    filter: brightness(10%);
}
/* .protestlist {
    color: rgb(35, 35, 83);
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    text-align: left;
  } */

  .section-blue {
    background-color: rgb(173, 215, 255);
  }

  .section-purple {
    background-color: rgb(173, 215, 255);
  }

  .section-somecolor{
    background-color: rgb(173, 215, 255);
  }
  
  .section-header {
    color: whitesmoke;
    font-family: 'Oswald', sans-serif; 
    font-size: 50px;
    font-weight: 100px;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px 2px rgb(48, 9, 9);
  }

  .vote { 
    color: rgb(35, 35, 83);
    position: relative;
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    text-align: center;
  }

  .listofways {
    color: rgb(35, 35, 83);
    position: relative;
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    text-align: left;
  }
  .twitterprotest {
      position: relative;
  }
